vault
venv
hf_cache
data/bdi_sen_v1
data/bdi_sen_v2
data/psysym
data/si_prompts.jsonl
data/si.json
**/__pycache__
logs
src/scripts/slurm/secrets
checkpoints
torch**
.claude
osi_optimizations
runs
results
paper*